body {
  background-color: #744EFF;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

#map {
  height: 100svh;
  width: 100%;
}

#pac-input {
  position: absolute;
  display: block;
  width: 80%;
  height: 5svh;
  left: 0;
  right: 0;
  top: 2svh;
  margin: auto;
  font-size: 18px;
  font-weight: 700;
  padding: 0 5%;
  text-overflow: ellipsis;
  color: #000000;
  background-color: #fff;
  border: none;
  border-radius: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.toggle-button-container {
  display: flex;
  height: 5svh;
  justify-content: space-between;
  z-index: 4;
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
}

.toggle-button p {
  margin: 0;
}

#toggle-button-list {
  background-color: #744EFF;
  color: #ffffff;
  transition: all 0.5s;
}

#detailButton {
  position: absolute;
  width: 88%;
  left: 0;
  right: 0;
  bottom: 4svh;
  margin: auto;
  overflow: hidden;
  background-color: #dfd6ff;
  border: #ffffff 5px solid;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#detailContainer {
  height: 0;
  width: 100%;
  overflow: auto;
  transition: all 0.5s;
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
}

.chart-container {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.chart-container img {
  width: 50px;
  margin: 0 auto;
}