body {
  background-color: #FF4BBD;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

#map {
  height: 100svh;
  width: 100%;
}

#pac-input {
  position: absolute;
  display: block;
  width: 80%;
  height: 5svh;
  left: 0;
  right: 0;
  top: 2svh;
  margin: auto;
  font-size: 18px;
  font-weight: 700;
  padding: 0 5%;
  text-overflow: ellipsis;
  color: #000000;
  background-color: #fff;
  border: none;
  border-radius: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.toggle-button-container {
  display: flex;
  height: 5svh;
  justify-content: space-between;
  z-index: 4;
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
}

.toggle-button p {
  margin: 0;
}

#toggle-button-editvote {
  background-color: #FF4BBD;
  color: #ffffff;
  transition: all 0.5s;
}

#toggle-button-editlogo {
  background-color: transparent;
  color: #FF4BBD;
  transition: all 0.5s;
}

#toggle-button-data {
  background-color: transparent;
  color: #FF4BBD;
  transition: all 0.5s;
}

#detailButton {
  position: absolute;
  width: 88%;
  left: 0;
  right: 0;
  bottom: 4svh;
  margin: auto;
  overflow: hidden;
  background-color: #ffe5f3;
  border: #ffffff 5px solid;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#detailContainer {
  height: 0;
  width: 100%;
  overflow: auto;
  transition: all 0.5s;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-container {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.input-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  margin-left: 10px;
}

.input-field-trash input {
  border: none;
  outline: none;
  font-size: 1rem;
  height: auto;
  text-align: center;
  width: 100%;
  font-weight: 500;
}

.input-field-trash {
  padding: 3%;
  border: 2px solid #393939;
  border-radius: 3px;
  margin: 5% 0;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  font-weight: 500
}

#detailContainerData {
  display: none;
}

.container-button {
  height: 50px;
  background-color: #FF4BBD;
  color: white;
  font-size: 1.1rem;
  line-height: 50px;
  border-radius: 25px;
  border: none;
  box-sizing: border-box; /* 追加 */
  text-align:center;
  padding: 1px 0;
  margin-top: 5%;
  font-weight: 500;
}

.container-button:disabled {
  background-color: gray;
}

input[type="color"] {
  border: none; /* 外枠をなくす */
  appearance: none; /* ベンダープレフィックスを使用してスタイルをカスタマイズ */
  padding: 0; /* パディングをリセット */
  width: 20px; /* カラーパレットの幅を設定 */
  height: 20px; /* カラーパレットの高さを設定 */
  cursor: pointer; /* カーソルをポインタに変更 */
  border-radius: 20px;
  margin-left: 10px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; /* カラースウォッチのパディングをリセット */
}

input[type="color"]::-webkit-color-swatch {
  border: none; /* カラースウォッチの外枠をなくす */
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#data-select {
  height: 9svh;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border: 2px solid #393939;
  border-radius: 3px;
  margin-top: 60px;
}

.file-upload {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #FF4BBD;
  border-radius: 3px;
  padding: 0;
  margin: 5% 0;
  box-sizing: border-box; /* 追加 */
}

#file-name {
  overflow: auto;
}

.file-upload span {
  flex: 2;
  margin-right: 10px;
  font-size: 1rem;
  line-height: 30px;
  overflow: hidden;
  text-align: center; /* 追加 */
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload label {
  flex: 1.3;
  background-color: #FF4BBD;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
  width: 80%;
  justify-content: center; /* 追加 */
  line-height: 1;
  font-weight: 500
}

#preview-container {
  margin-top: 10px;
  background-color: rgb(206, 206, 206);
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.preview-img {
  max-width: 100%;
  max-height: 200px;
}
