@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* ここは全体のデザイン */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0F6A34;
  font-family: "Noto Sans JP", sans-serif;
}

.create-account-container {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: #0F6A34;
  color: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-family: "Noto Sans JP", sans-serif;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.login{
  font-family: "Noto Sans JP", sans-serif;
}

button {
  padding: 10px;
  background-color: #388E3C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4CAF50;
}

.login-link {
  margin-top: 20px;
}

.login-link a {
  color: white;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.show-password {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 15px;
}

.show-password input {
  margin-right: 5px;
}